<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <springProperty scope="context" name="applicationName" source="spring.application.name"/>

    <springProfile name="local | dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level %logger{36} jobId=%X{jobId:-} correlationId=%X{correlationId:-} - %msg%n</pattern>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <springProfile name="!local &amp; !dev">
        <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp/>
                    <logLevel fieldName="level"/>
                    <loggerName fieldName="logger"/>
                    <message/>
                    <mdc>
                        <includeMdcKeyName>jobId</includeMdcKeyName>
                        <includeMdcKeyName>correlationId</includeMdcKeyName>
                    </mdc>
                    <pattern>
                        <pattern>{"service":"${applicationName:-url-fetcher}"}</pattern>
                    </pattern>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>

        <root level="INFO">
            <appender-ref ref="JSON"/>
        </root>
    </springProfile>
</configuration>
